* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #fff;
}

.game {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dance {
	width: 100%;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 1%;
	box-shadow: 0px 0px 15px silver;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row-2 {
	justify-content: space-around;
}

.arrow {
	width: 20%;
	text-align: center;
	box-sizing: border-box;
	padding: 1%;
	background-color: rgb(250,250,250);
	box-shadow: 0px 0px 15px silver;
	border-radius: 4px;
	font-size: 36px;
	transition: background-color 1s;
}

.settings {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	box-sizing: border-box;
	padding: 1%;
	box-shadow: 0px 0px 15px silver;
}

#play {
	box-sizing: border-box;
	padding: 1%;
	cursor: pointer;
}
